[defaults]
# Standard Ansible Configuration
inventory = ./inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/my-key.pem
host_key_checking = False

# Make output more readable
stdout_callback = yaml

# Optimization: Number of parallel processes
forks = 50

# Optional: Retry files path (or disable them)
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
